# UI Framework
customtkinter==5.2.2
pillow==10.2.0

# Video Processing
ffmpeg-python==0.2.0
moviepy==1.0.3

# Transcription
openai-whisper==20231117
google-generativeai==0.8.3

# Audio Processing
pydub==0.25.1
noisereduce==3.0.2

# YouTube API
google-api-python-client==2.149.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0

# Utilities
python-dotenv==1.0.1
requests==2.32.3
tqdm==4.67.1
